body{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  background-size: cover;
  background-repeat:  no-repeat;  
  display: flex;
  font-size: 1em;
}


h2{
  text-align: center;
}

h3{
  text-align: center;
}
section{
  padding: .5em;
  font-size: 1.5em;
}

.navigation{
  position: sticky;
  text-align: center;
  border: none;
}

.uList{
  list-style-type: none;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  background-color: grey;
  position: sticky;
  text-align: center;
  border: none;
}
.uList li{
  float: left;
  border-bottom: 5px solid red;
  width: 23%;
}

.uList li a{
  display: block;
  color: red;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
}
.uList li a:hover {
  background-color: #c30000;
  color: black;
}

.indexTitle{
  position: sticky;
  text-align: center;
}

.indexTitle img{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid;
  margin-top: 30px;
}

.indexBody{
  margin-left: 10%;
  margin-right: 10%;
  padding-right: 10%;
  padding-left: 2%;
  margin-top: 1em;
  border-radius: 1px;
  border: 2px solid red;
  height: auto;
  width: auto;
}

.about{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  padding-right: 10%;
  padding-left: 2%;
  border-radius: 1px;
  border: 2px solid red;
  height: auto;
  width: auto;
}

.resume{
 /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;*/
  align-items: center;
  justify-content: center;
  background: grey;
}

.resume h1{
  text-align: center;
  color: red;
  text-shadow: white 0px 1px 2px;
}

.resume section{
  border-radius: 1px;
  border: 2px solid #d0d0d0;
  height: auto;
  width: auto;
  margin-bottom: 1em;
  margin-left: 15%;
  margin-right: 20%   
}

#resumeProfile{
  padding-right: 20%
  /*grid-row: 2/4;
  grid-column: 2/3;*/
}

#resumeSkills{
  /*grid-row: 4/8;
  grid-column: 2/3;*/
}

#resumeEducation{
  /*grid-row: 4/8;
  grid-column: 3/4;*/
}

#resumeExp{
  padding-right: 10%;
  /*grid-row: 2/4;
  grid-column: 3/4;*/
}
#resumeHist{
  padding-right: 10%;
}

.bonus{
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url("images/food.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.bonus p{
  background-color: grey;
}

.bonusCooking{
  border-radius: 1px;
  border: 2px solid #d0d0d0;
  height: auto;
  width: auto;
  padding-right: 15%;
  padding-left: 15%;
}

.bonusCooking img{
  width: 30em;
}

.bonusTech{
  border-radius: 1px;
  border: 2px solid #d0d0d0;
  height: auto;
  width: auto;
  padding-right: 15%;
  padding-left: 15%;
}

.bonusMusic{
  border-radius: 1px;
  border: 2px solid #d0d0d0;
  height: auto;
  width: auto;
  padding-right: 15%;
  padding-left: 15%;
}

.bonusMusic img{
  padding-left: 25%;
  height: 30em;
}

audio{
  padding-left: 35%;
}

