body{
		font-family: 'Roboto', sans-serif;
		color: white;
		background-color: black;
		background-image: url("images/wallpaper.jpg");
		background-size: cover;
		background-repeat: 	no-repeat;	
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: red;
    text-align: center;
    padding: 14px 10em;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #c30000;
    color: black;
}

.indexTitle{

}