.index{
		font-family: 'Roboto', sans-serif;
		color: white;
		background-color: black;
		background-image: url("images/wallpaper.jpg");
		background-size: cover;
		background-repeat: 	no-repeat;	
}
.indexTitle{
	text-align: center;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b4b4b;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: red;
    text-align: center;
    padding: 14px 3em;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #c30000;
    color: black;
}

section.indexBody{
		border: .625em solid transparent;
		border-left-style: solid;
		border-width: 5px;
		border-left-color: red;
    padding: .9375em;
    background-color: grey;
		height: auto;
		border-radius: 5%;
}

.indexImage{
	float: right;
	margin-left: 2em;
	border-width: .5em;
	border-style: ridge;
	border-color: red;
}


.resume{

		font-family: 'Roboto', sans-serif;
		color: white;
		background-color: black;
		background-image: url("images/gentleman.jpg");
		background-size: cover;
		background-repeat: 	no-repeat;	
		border-style: solid;
		border-width: .25em;
		border-color: white;
		padding-bottom: 1em;
}

.resumeHeading{
	color: #009cfb;
	text-align: center;
}
p{
	color: #09c70c;
	padding-left: .5em;
	font-size: 12px;
}
h4{
	color: #009cfb;
	padding-left: .5em;
	font-size: 18px;
}
.resumeProfile p{
	color: #09c70c;
}
.resumeSkills ul{
	color: #09c70c;
	font-size: 12px;
}

.resumeExp{
	border-style: dotted;
	border-width: .25em;
	margin-left: .5em;
}
.resumeExp ul{
	margin-left: .5em;
	color: #09c70c;
}

.bonus{
		font-family: 'Roboto', sans-serif;
		color: white;
		background-color: black;
		
}