body{
	font-family: 'Roboto', sans-serif;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: red;
    text-align: center;
    padding: 14px 10em;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #c30000;
    color: black;
}
